*{
    background-color: ;
    margin: 0;
    padding: 0;
    border: 0 ;
    font-size: 100%;
    vertical-align: baseline;
}

.custom-sidebar {
    background-color: aliceblue; 
    color: black; 
    padding: 15px;
    border-radius: 20px;
  
  .csd {
    background-color: aliceblue; 
    color: black; 
    padding: 15px;
    border-radius: 0px;
    
  }
  

  